<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Waitstaff Calculator</title>
    <!--Style Sheets-->
    <link rel="stylesheet" href="css/style.css">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="myCtrl">

    <div class="container">
        <div class="navbar-header">
            <h1>Waitstaff Calculator</h1>
        </div>
        <div id="leftDiv">
            <div class="headerDiv">
                Enter the Meal Details
            </div>
            <div class="inputsDiv">
                <form novalidate name="myForm" ng-submit="doSubmit(myForm.$valid)">
                    <table width="100%">
                        <tr>
                            <td>Base Meal Price:</td>
                            <td style="text-align:right;">$</td>
                            <td>
                                <input type="text" name="baseMealPrice" ng-model="data.baseMealPrice" ng-pattern="numPattern" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Tax Rate:</td>
                            <td style="text-align:right;">%</td>
                            <td>
                                <input type="text" name="taxRate" ng-model="data.taxRate" ng-pattern="numPattern" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Tip Percentage:</td>
                            <td style="text-align:right;">%</td>
                            <td>
                                <input type="text" name="tipPercentage" ng-model="data.tipPercentage" ng-pattern="numPattern" required />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align:center">
                                <button type="submit" class="myButton" value="submit" name="submit" id="submit" ng-disabled="myForm.$invalid">Submit</button>
                                <button type="button" class="myButton" name="cancel" id="cancel" ng-click="doCancel()">Cancel</button>
                            </td>
                    </table>
                </form>
            </div>
        </div>

        <div id="rightDiv">
            <div class="headerDiv">
                Customer Charges
            </div>
            <div class="inputsDiv">
                <table width="100%">
                    <tr>
                        <td width="50%">Subtotal:</td>
                        <td style="text-align:right;">{{subTotal | currency}}</td>
                    </tr>
                    <tr>
                        <td>Tip:</td>
                        <td style="text-align:right;">{{tip | currency}}</td>
                    </tr>
                    <tr>
                        <td>
                            <hr>
                        </td>
                        <tr>
                            <td>Total:</td>
                            <td style="text-align:right;">{{chargesTotal | currency}}</td>
                        </tr>
                </table>
            </div>
            <div class="headerDiv">
                My Earnings Info
            </div>
            <div class="inputsDiv">
                <table width="100%">
                    <tr>
                        <td width="50%">Tip Total:</td>
                        <td style="text-align:right;">{{tipTotal | currency}}</td>
                    </tr>
                    <tr>
                        <td>Meal Count:</td>
                        <td style="text-align:right;">{{numMeals}}</td>
                    </tr>
                    <tr>
                        <td>Avg Tip per Meal:</td>
                        <td style="text-align:right;">{{avgTipMeal | currency}}</td>
                    </tr>
                </table>
            </div>
            <div style="text-align:right;margin: 5px;">
                <button ng-click="reset()" class="myButton" name="reset" id="reset">Reset</button>
            </div>
        </div>
    </div>
</body>

</html>
